{% extends 'base.html.twig' %}

{% block body %}

  <div class="container mt-4">
      <h1>Ajouter un nouvel article</h1>
      {{ include('blog/post_form.html.twig', {form: form, button: 'Ajouter'}) }}
  </div>

{% endblock %}
